<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input #nombre></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input #contrasena type="password"></ion-input>
  </ion-item>  
  <ion-item>
    <ion-label position="floating">Repetir Contraseña</ion-label>
    <ion-input #contrasena2 type="password"></ion-input>
  </ion-item>
  <div *ngIf="mensaje;">
    <h3 id="Error">   {{mensaje}}</h3>
  </div> 
  <br>
  <ion-button (click)="checkear(nombre, contrasena, contrasena2)" expand="block" color="primary">Recuperar</ion-button>
</ion-content>

