<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>Comentarios <ion-icon name="chatbox-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let aux of lista">
    <ion-card>
      <ion-card-header>
        {{aux.email}} : 
      </ion-card-header>
      <ion-card-content> 
        <ion-item>
          <ion-label>{{aux.name}}</ion-label>
        </ion-item>
        <ion-item>
          <p>{{aux.body}}</p>
        </ion-item>
      </ion-card-content> 
    </ion-card>
  </ion-list>
</ion-content>
